@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @if (!NavigationManager.Uri.Contains("login", StringComparison.OrdinalIgnoreCase))
    {
            <div class="sidebar">
                <NavMenu />
            </div>
    }

    <main class="@(!NavigationManager.Uri.Contains("login", StringComparison.OrdinalIgnoreCase) ? "main-content" : "full-page")">
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

